*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.content{
    height: 80vh;
}
.padding{
    margin-top: 5px;
}
.register{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}